* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

.header-img {
  width: 70px;
}

.gallery-img {
  width: 150px;
  height: 150px;
  margin: 10px;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}

p {
  font-weight: bold;
  font-size: large;
}

h4 {
  margin: 15px 0px 10px 0px;
}

header {
  background-color: black;
  color: whitesmoke;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

header h1 {
  font-size: medium;
}

header h3 {
  font-size: small;
}

section p {
  text-align: center;
  margin-top: 10px;
}

#container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#ferramentas {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 40%
}

#ferramentas div {
  background-color: rgb(222, 225, 227);
  border-radius: 20px;
  text-align: center;
  box-shadow: 2px 2px 2px rgb(189, 186, 186);
  margin: 5px;
}

hr {
  margin: 20px 45% 20px 45%;
  text-align: center;
}

#footer {
  display: flex;
  justify-content: center;
}